
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
p{
    color: black;
}

/*Title Section*/
#title{
   background-color: #771128; 
   padding: 3% 15% 5%;
}
.brand-title{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.brand-text{
    color: #c9b05d;
}
.links{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.20rem;
}
.links{
    padding: 0 18px;
    color: #b4b3a9;
}
.nav-lists{
    padding: 0 16px;
}
.navbar{
    padding: 0 0 4.5rem;
}
.title-quote{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color:#d4af37;
}
.btn-download{
    margin: 5% 3% 5% 0;
}
.fab-icon{
    margin-right: 8px;
}
.title-img{
    width: 60%;
    transform: rotate(35deg);
    right: 30%;
    position: absolute;
}


/*Feature Section*/
#features{
    padding: 8% 16%;
    text-align: center;
    position: relative;
    background-color: #b4b3a9;
    z-index: 1;
}
.fa-icon{
    color: #771128;
    margin: 1rem;
}
.fa-icon:hover{
    color: #ba2e43;
}
.feature-title{
    font-size: 1.7rem;
    font-weight: 875;
}
.feature-col{
    padding: 4%;
}

/*Testimonial section*/
#testimonials{
    background-color: #771128;
    text-align: center;
    color: white;
}
.testimonial-image{
    border-radius: 50%;
    width: 10%;
    margin: 30px;
}
.testimonial-text{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
.people-opinion{
    color: #d4af37;
}
.carousel-item{
    padding: 7% 15%;
}

/*Press section*/
#press{
    background-color:  #771128;
    text-align: center;
    padding: 3%;
}
.press-logo{
    max-width: 100%;
    height: auto;
    margin: 20px 20px 50px;
}

/*Pricing section*/
#pricing{
    background-color: #b4b3a9;
    text-align: center;
    padding: 100px
    
}
.price-heading, .price-text{
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.5;
}
.pricing-header{
    font-style: italic;
}

/*Call to Action section*/
#cta{
    background-color:  #771128;
    padding: 7% 14%;
    text-align: center;
}
.cta-title{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

/*Footer section*/
#footer{
    background-color: #b4b3a9;
    text-align: center;
    padding: 5% 5%;
}
.foot-icon{
  padding: 20px 10px;  
}


@media (max-width: 1024px){
    .title-quote{
        font-size: 3rem;
    }
    .title-img{
        transform: rotate(0);
    }
    .btn-download{
        margin-right: 6px;
    }   
}

@media (max-width: 768px){
    .title-img{
        position: relative;
        left: 100px;
        width: 60%;
    }
    .column-one{
        text-align: center;
    }
}

@media (max-width: 425px) {
    body {
        background-position: center top; 
    }

    .container {
        padding: 10px; 
    }

    .col-lg-6.column-one {
        text-align: center; 
    }

    .col-lg-5 img.title-img {
        width: 100%; 
    }
}

@media (max-width: 375px) {
    body {
        background-size: contain; 
    }
}

@media (max-width: 320px) {
    body {
        background-size: auto; 
    }
}